version: "3.9"

services:
  app:
    build: .
    container_name: carango-show-api
    ports:
      - "4444:4444"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start
    restart: unless-stopped
